# A simple systemd service script for red-alert.

[Unit]
Description=A noisy monitoring daemon for New Relic data.
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/go/bin/red-alert /home/pi/.red-alert.config
Restart=on-failure

[Install]
WantedBy=multi-user.target
